<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Info</title>
</head>
<body>
  <center>
    <h2>Student Information</h2>
    <form action="/add-student" method="post">
      <table>
        <tr>
          <td>FirstName:</td>
          <td><input type="text" type="text" name="firstName"></td>
        </tr>
        <tr>
          <td>LastName:</td>
          <td><input type="text" type="text" name="lastName"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="text" type="text" name="email"></td>
        </tr>
        <tr>
          <td>Course:</td>
          <td><input type="text" type="text" name="course"></td>
        </tr>
        <tr>
          <td>MobileNo:</td>
          <td><input type="text" type="text" name="mobileNo"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" type="text" value="Add Student"></td>
        </tr>
      </table>
    </form>
  </center>
</body>
</html>
